body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}
.main-container {
  max-width: calc(100% - 100px); /* Reduced by the width of both tabs */
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
}

.tasks {
  margin-bottom: 20px;
}

.task-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.task-card {
  border: 1px solid #ccc;
  border-radius: 15px; /* Rounded edges */
  padding: 0;
  background-color: #f9f9f9;
  height: calc(50vh - 40px); /* Adjust the height to fit the viewport without scrollbars */
  overflow-y: hidden; /* Eliminate scrollbar */
  display: flex;
  flex-direction: column;
}

.task-card-header {
    background-color: black;
    color: white;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px; 
}
.info-icon-container {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.info-icon-container i {
  color: white;
  font-size: 18px; /* Adjust size as needed */
}

.task-card-header h4 {
  margin: 0;
}

.task-card-content {
  padding: 20px;
  flex-grow: 1;
  overflow:auto;
}

.task-card p {
  margin-bottom: 0;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

select {
  width: 100%;
  margin-bottom: 10px;
}

button {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.toolbar {
  background-color: #f1f1f1;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

/* navbar classes */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  color: white;
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-button {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border: none;
  border-radius: 50%;
  background-color: white;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.navbar-button:hover {
  background-color: #E9ECEF;
}

.home-button {
  background-image: url('./images/home-button.png'); /* Replace with your home icon path */
}

.settings-button {
  background-image: url('./images/wrench.png'); /* Replace with your settings icon path */
}

.notification-button {
  background-image: url('./images/notif.png'); /* Replace with your notification icon path */
}

.menu-button {
  background-image: url('./images/more.png'); /* Replace with your menu icon path */
}

.image-container {
  width: 40px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  margin-right: 10px;
  background-image: url('./images/profpic.png');
  background-size: cover;
  background-position: center;
  /* Add additional styling or background image as needed */
}

.logo {
  height: 40px;
}

/* Header classes */
.header-content {
  position: relative;
  margin-bottom: 20px;
}

.submit-task-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#task-description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  
  
}
#task-title{
  font-size:20px;
  font-family: arial;
  font-weight: 25px;
}

.title-container{
  background:#E9ECEF
}
/* CSS for Threadbuild Cards */
.threadbuild-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.subthread-row {
  display: flex;
  gap: 20px;
}
.subinterpretation-container{
  padding-left: 20px;
}
.subthread-container,
.subinterpretation-container,
.summary-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  
}

.subthread-container label,
.subinterpretation-container label,
.summary-container label {
  font-weight: bold;
  margin-bottom: 5px;
  
}

.subthread-input,
.subinterpretation-input,
.summary-input {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  border-radius: 5px;
}

.select-row {
  display: flex;
  justify-content: flex-end;
}

.select-container {
  display: flex;
  gap: 10px;
}

.category-select,
.process-select {
  width: 150px;
}

.add-subthread-btn {
  align-self: flex-start;
}

.summary-container {
  width: 100%;
}

/* Asset description classes */
.asset-description {
  padding: 15px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 20px;
  position: relative;
}

.asset-description::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #ccc;
}

.description-text {
  font-style: sans-serif;
  color: #555;
}

.asset-content {
  padding-top: 20px;
}

/* CSS for sidetabs */
.side-tab-container{
  display:flex;
  justify-content:center;
}
.side-tab {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 200px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Ensure tabs are on top of other content */
}

/* Styles for left-tab */
.left-tab {
  left: -260px;
  
}

.left-tab.expanded {
  left: 0;
  width: calc(100vw - 80%); /* Expand to full width minus some margin */
  height: calc(100vh - 600px); /* Expand to full height minus some margin */
  border-radius: 25px; /* Rounded rectangle shape */
}

/* Styles for right-tab */
.right-tab {
  right: -260px;
}

.right-tab.expanded {
  right: 0;
  width: calc(100vw - 80%); /* Expand to full width minus some margin */
  height: calc(100vh - 600px); /* Expand to full height minus some margin */
  border-radius: 25px; /* Rounded rectangle shape */
}

/* Common styles for expanded tabs */
.side-tab.expanded .tab-header {
  border-radius: 25px 25px 0 0; /* Rounded corners on the top */
}

.tab-header {
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 1100; /* Ensure header is on top */
  
}

.tab-header h3 {
  margin: 0;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  color: white;
  width: 100%; /* Ensure full width of the tab header */
  position: relative; /* Ensure correct positioning */
  
}

#left  {
  

  transform: rotate(180deg);
  
  
  
}

#left.expanded .tab-header h3 {
  right: 0; /* Reset the position when expanded */
  writing-mode: horizontal-tb;
  transform: rotate(0);
}


.side-tab.expanded .tab-header h3 {
  writing-mode: horizontal-tb;
  transform: rotate(0);
}

.info-icon-container {
  color: white;
  font-size: 18px;
  margin-top: 10px; 
}

.tab-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.left-tab .tab-header {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.right-tab .tab-header {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-tab .tab-header {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}


.title-input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.toolbar {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.toolbar-item {
  padding: 0 10px;
  position: relative;
}

.toolbar-item::after {
  content: '';
  height: 20px;
  width: 1px;
  background-color: #ccc;
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
}

.toolbar-item:last-child::after {
  display: none; /* Remove the separator from the last item */
}

.content-input {
  width: 100%;
  height: calc(100% - 100px); /* Adjust height based on the toolbar and title-input height */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  margin-top: 10px;
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

/* 4SA method content styles */

/* General styles for content sections */
.content-section .example-section .intro-section{
  padding: 20px;
  margin-bottom: 20px;
}
#intro-title{
  background-color: lightgray;
}

.content-section h2, .example-section h2 {
  margin: 0;
  padding: 10px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

/* Dark grey border for section titles */
.section-title {
 
  background-color: white;
}

.example-title {
  
  color: black;
  border: 2px solid darkgrey;
}

/* Content paragraph styling */
.content-section p, .example-section p {
  margin: 10px 0 0 0;
}

/* Styles for the 'See more' link */
.see-more {
  text-align: right;
  margin-top: 10px;
}

.see-more a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.see-more a:hover {
  text-decoration: underline;
}

/* Upward expanding icon styling */
.upward-expanding-icon {
  margin-left: auto;
  color: black;
  cursor: pointer;
}









/* Botom-options styles */
.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Space between icons */
  z-index: 2000; /* Ensure icons are on top of other content */
}

.icon {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.icon i {
  font-size: 24px;
  color: #007bff;
}

.icon:hover {
  background-color: #f0f0f0;
}


